body {
  background-color: #e5e5e5;
}

.container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-row-gap: 20px;
}

.box {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card {
  border-radius: 0px 15px 0px 15px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  background-color: #34344d;
  grid-area: 1 / 1 / 6 / 4;
}

.connector {
  position: relative;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  grid-area: 1 / 4 / 6 / 5;
}

h3 {
  color: rgb(233, 233, 233);
  font-family: "Quicksand";
  font-size: 24px;
  margin: 20px 0 0 20px;
}

p {
  color: rgb(233, 233, 233);
  font-weight: 400;
  font-size: 16px;
  align-self: flex-start;
  margin: 20px;
  letter-spacing: 0.5px;
}

.card:hover {
  transform: scale(1.035, 1.035);
}

.connector:before {
  content: "";
  position: absolute;
  display: block;
  left: 49%;
  top: 10%;
  height: 35%;
  width: 48%;
  border-top: 3px solid rgb(255, 0, 0);
  border-left: 3px solid rgb(255, 0, 0);
  border-radius: 100% 0% 0 0;
}

.connector:after {
  content: "";
  position: absolute;
  display: block;
  right: 47%;
  top: 40%;
  height: 50%;
  width: 50%;
  border-bottom: 3px solid rgb(255, 0, 0);
  border-right: 3px solid rgb(255, 0, 0);
  border-radius: 0 0% 100% 0%;
}
